<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.app.imageselect"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.app.activity.IncidentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>