<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.app.imageselect"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.app.ui.activity.IncidentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.app.ui.activity.CropActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.app.ui.activity.PreviewSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/PickerThemeFullScreen">
        </activity>
        <activity
            android:name="com.app.ui.activity.PreviewDeleteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/PickerThemeFullScreen">
        </activity>
        <activity
            android:name="com.app.ui.activity.PreviewOnlyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/PickerThemeFullScreen">
        </activity>

    </application>

</manifest>